<!DOCTYPE html>
<html lang="en">

<head>
	{% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Software de gestion documental</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">
    <link href="{% static 'css/pnotify.custom.min.css' %}" rel="stylesheet">

</head>
<body>
	<div class="container">
		<div class="col-md-offset-4">
			<div class="col-md-offset-1">
				<img src="{% static 'img/no autorizado.jpg' %}" />
			</div>
		<h1 class=" text text-danger">Acceso no autorizado</h1>
			
			
		</div>

	</div>
	
	
	
	<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/pnotify.custom.min.js' %}"></script>
</body>
</html>
