<!DOCTYPE html>
<html lang="en">

<head>
	{% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Software de gestion documental</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">
    <link href="{% static 'css/pnotify.custom.min.css' %}" rel="stylesheet">

</head>

<body>


    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Bienvenido</h1>
                        <h3>Sistema de Gestion Documental</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
   							<li><button class='btn-lg btn-success'data-toggle="modal" data-target="#myModal">Ingresar</button></li>
   							<li><button class='btn-lg btn-warning'>Ayuda</button></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Un sistema para la administracion de documentos
                    <p class="lead">Utiliza nuestro sistema con funcionalidades unicas ahora</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'img/ipad.png' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

  

	    <div class="banner">
	
	        <div class="container">
	
	            <div class="row">
	                <div class="col-lg-6">
	                    <h2>Comienza a utilizar tu sistema</h2>
	                </div>
	 
	            </div>
	
	        </div>
	        <!-- /.container -->
	
	    </div>


<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Ingresar</h4>
	      </div>
	      <div class="modal-body">
	        <form method='post'>
	        	 {% csrf_token %}
	        	<div class="form-group">
	        		<label for="usuario">Usuario</label>
	        		<input name='usuario' id='usuario' type="text" class="form-control" placeholder="Usuario" />
	        	</div>
	        	<div class="form-group">
	        		<label for="password">Clave</label>
	        		<input name='password' id='password' type="password" class="form-control" placeholder="clave" />	        		
	        	</div>	        	
	        	<a class="btn btn-success" id='post_btn'>Ingresar</a>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-error" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>



   

    <!-- JavaScript -->
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/pnotify.custom.min.js' %}"></script>
    <script>
    	$(document).ready(function(){
    		$('#post_btn').click(function(){
    			var usuario = $('#usuario').val();
    			var password = $('#password').val();
    			$.post("http://127.0.0.1:8000",{usuario:usuario,password:password}).done(function(data){
    				if(!data['success']){
    					new PNotify({
						    title: 'Lo sentimos',
						    text: "Upps ha ocurrido algo inesperado",
						    type: 'error'
						});
    				}else{
    					new PNotify({
						    title: 'Logeado Correctamente',
						    text: 'Espera un momento',
						    type: 'success'
						});
    					setTimeout(function(){
    						window.location = "../app/"+data['rol'];
    					},2000);
    				}
    			});
    		});
    	});
    	
    	
    	//habilita AJAX en django solamente copie y pege
    	$(document).ajaxSend(function(event, xhr, settings) {
		    function getCookie(name) {
		        var cookieValue = null;
		        if (document.cookie && document.cookie != '') {
		            var cookies = document.cookie.split(';');
		            for (var i = 0; i < cookies.length; i++) {
		                var cookie = jQuery.trim(cookies[i]);
		                // Does this cookie string begin with the name we want?
		                if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                    break;
		                }
		            }
		        }
		        return cookieValue;
		    }
		    function sameOrigin(url) {
		        // url could be relative or scheme relative or absolute
		        var host = document.location.host; // host + port
		        var protocol = document.location.protocol;
		        var sr_origin = '//' + host;
		        var origin = protocol + sr_origin;
		        // Allow absolute or scheme relative URLs to same origin
		        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		            // or any other URL that isn't scheme relative or absolute i.e relative.
		            !(/^(\/\/|http:|https:).*/.test(url));
		    }
			function safeMethod(method) {
			    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
		
		    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
		        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		    }
			});
    </script>

</body>

</html>
