<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Añadir Version</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
	</head>
	<body>
<!--login modal-->
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="text-center">Nueva Version</h1>
      </div>
      <div class="modal-body">
          <form id="form" name="form" class="form col-md-12 center-block" method="post" role="form" enctype="multipart/form-data">
          	{% csrf_token %}
          		<strong> Tipo Version</strong> 
            <div class="form-group">
           
   	         <div id="tipos_version">

	         </div>         
	         </div>

            <div class="form-group">
	            <strong> Anotacion</strong>  
	            <textarea id="anotacion" name="anotacion" class="form-control input-lg"> </textarea>	
        	</div>
        	
 			<strong >Archivo de la version</strong>
 			<input id='documento' name="documento" type="text" value="{{id}}" hidden>
            <div style="margin-top: 10px;"class="form-group">
            	<input id="archivo" name="archivo" type="file" />
            	<hr />
              <button type="submit" id="btn" class="btn btn-primary btn-lg btn-block">Crear</button>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <a onClick="volver();"class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Volver</a>
		  </div>	
      </div>
  </div>
  </div>
</div>
	<!-- script references -->
		<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/scripts.js' %}"></script>
		<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
		<script>
		
		$(document).ready(function(){
			

			$.ajax({
			  url: "http://127.0.0.1:8000/indexador/tiposversion/",
			  type: "GET",
			  context: document.body
				}).done(function(data) {
					var html = $.parseHTML(data);
				  $("#tipos_version").html(html);
				  $('.selectpicker').selectpicker();
				});

		});
		function volver() {
		    window.history.back();
		}

		/*	ajax consulta de get sin .load		$.ajax({
			  url: "http://127.0.0.1:8000/app/administrador/test",
			  type: "GET",
			  context: document.body
				}).done(function(data) {
				  alert(data['html']);
				});*/
		
		   	//habilita AJAX en django solamente copie y pege
    	$(document).ajaxSend(function(event, xhr, settings) {
		    function getCookie(name) {
		        var cookieValue = null;
		        if (document.cookie && document.cookie != '') {
		            var cookies = document.cookie.split(';');
		            for (var i = 0; i < cookies.length; i++) {
		                var cookie = jQuery.trim(cookies[i]);
		                // Does this cookie string begin with the name we want?
		                if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                    break;
		                }
		            }
		        }
		        return cookieValue;
		    }
		    function sameOrigin(url) {
		        // url could be relative or scheme relative or absolute
		        var host = document.location.host; // host + port
		        var protocol = document.location.protocol;
		        var sr_origin = '//' + host;
		        var origin = protocol + sr_origin;
		        // Allow absolute or scheme relative URLs to same origin
		        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		            // or any other URL that isn't scheme relative or absolute i.e relative.
		            !(/^(\/\/|http:|https:).*/.test(url));
		    }
			function safeMethod(method) {
			    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
		
		    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
		        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		    }
			});
		

		</script>
	</body>
</html>