
<table class="table table-bordered">
	<th>Seleccionar</th>
	<th>Titulo</th>
	<th>Tipo</th>
	<th>Fecha</th>
{% for documento in documentosUsuario %}

	
	<tr>
		<td><input type="radio" id="seleccion" name="seleccion" value="{{documento.id}}" /></td>
		<td>{{documento.titulo}}</td>
		<td>{{documento.tipoDocumento.nombreTipo}}</td>
		<td>{{documento.fecha}}</td>
	</tr>
	{% empty %}
	<tr><td colspan="4" class="danger">Lo sentimos no tienes documentos</td></tr>
	

{% endfor %}
	
</table>