
<table class="table table-bordered">
	<th>Autor</th>
	<th>Anotacion</th>
	<th>Tipo</th>
	<th>Fecha</th>
	<th>Archivo</th>
{% for version in versiones %}

	
	<tr>

		<td>{{version.autor}}</td>
		<td>{{version.anotacion}}</td>
		<td>{{version.tipoVersion.nombreTipo}}</td>
		<td>{{version.fecha}}</td>
		<td><a href="http://127.0.0.1:8000/media/{{version.archivo}}">Archivo</a></td>

	</tr>
	{% empty %}
	<tr><td colspan="4" class="danger">Ha ocurrido un error</td></tr>
	

{% endfor %}
	
</table>