<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>{{usuario.first_name}}</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="{% static 'css/pnotify.custom.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/styles.css' %}" rel="stylesheet">
	</head>
		<body>
	<!-- Header -->
	<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	          <span class="icon-toggle"></span>
	      </button>
	      <a class="navbar-brand" href="#">Control Panel</a>
	    </div>
	    <div class="navbar-collapse collapse">
	      <ul class="nav navbar-nav navbar-right">
	        
	        <li class="dropdown">
	          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
	            <i class="glyphicon glyphicon-user"></i>{{usuario.username}} <span class="caret"></span></a>
	          <ul id="g-account-menu" class="dropdown-menu" role="menu">
	            <li><a href="http://127.0.0.1:8000/app/logout"><i class="glyphicon glyphicon-lock"></i> Salir</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div>
	  </div><!-- /container -->
	</div>
	<!-- /Header -->

	<!-- Main -->
	<div class="container">
	  
	  <!-- upper section -->
	  <div class="row">
		<div class="col-md-2">
	      <!-- left -->
	      <strong><i class="glyphicon glyphicon-briefcase"></i> Barra de herramientas</strong>
	      <hr>
	      
	      <ul class="nav nav-pills nav-stacked">

	        <li><a id="eliminar" href="#"><i class="glyphicon glyphicon-link"></i> Eliminar</a></li>
	       <li><a href="#"><i class="glyphicon glyphicon-envelope"></i>Nuevo Mensaje</a></li>
	        <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> Metadatos</a></li>
	        <li><a id = 'plantillas_btn' data-toggle="modal" data-target="#modal_plantillas" href=""><i class="glyphicon glyphicon-folder-open"></i> Plantillas</a></li>
	       </ul>
	      
	      <hr>
	      
	  	</div><!-- /span-3 -->
	    <div class="col-md-10">
	      	
	      <!-- column 2 -->	
	      
	     
	        
		   <div class="row">
	            <!-- center left-->	
	         	     <div class="row">
	    
	    <div class="col-md-12">
	      
	      <strong><i class="glyphicon glyphicon-list-alt"></i>  Documentos para revision </strong>  
	      <form role="form">
	      	<div class="form-group">
	      		<label for="criterio">Ver</label>
	      		<select class="form-control" id="criterio">
	      			<option value="Todos">Todos</option>
	      			<option value="Involucrados">Involucrados</option>
	      			<option value="Propios">Propios</option>
	      		</select>
	      	</div>
	      	<div class="form-group">
	      		<label for="fecha">Fecha</label>
	      		<input type="date" id='fecha' class="form-control"/>
	      	</div>
	      </form>
	      <hr>    
	    </div>
	    <div id="tabla" class="col-md-8">
	      
	     
	      
	      
	      <hr>              
	      
	      <!--tabs-->
	
	      <!--/tabs-->
	      
	      <hr>
	      
	            
	
	
	    
	    </div>
	    <div class="col-md-4 col-sm-4">
	              
	                <strong><i class="lyphicon glyphicon-plus"></i> Nuevo Documento</strong>  
	                	<hr/>
	                	Presiona Crear para acceder al foremulario de creacion de documentos
	                	<hr/>
	                <div class="btn-group btn-group-justified">

	                  <a href="http://127.0.0.1:8000/indexador/creardocumento/" class="btn btn-info col-sm-12">
	                    <i class="glyphicon glyphicon-plus"></i><br>Crear</a>               
	                </div>
				<!--/col-span-6-->
	   <br />
	                <strong><i class="lyphicon glyphicon-plus"></i> Versiones</strong>  
	                <hr>
					<p>Seleccione un documento para hacer una nueva version</p>
	                <hr>
	                <div class="btn-group btn-group-justified">	                	
	                  	<a  id='crear_version' class="btn btn-info col-sm-6"><i class="glyphicon glyphicon-plus"></i><br>Crear</a>               
	                </div>
	                <br />
	                <div class="btn-group btn-group-justified">	                	
	                  	<a   data-toggle="modal" data-target="#myModal" id='ver_versiones'class="btn btn-warning col-sm-6"><i class="glyphicon glyphicon-plus"></i><br>Ver versiones</a>               
	                </div>

	    </div>
	  </div><!--/row-->
	    
	             
	       </div><!--/row-->
	       
	       
	  	</div><!--/col-span-9-->
	    
	  </div><!--/row-->
	  <!-- /upper section -->

	  <!-- lower section -->
	    	<div class="col-md-offset-2 col-md-7 well" style="margin-top: 20px;">
				<h4><i class="glyphicon glyphicon-comment"></i>Mensajes</h4>
					<div id="mensajes">
						
					</div>
	      	</div>
	</div><!--/container-->
	<!-- /Main -->
	<!-- Button trigger modal -->

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Versiones</h4>
	      </div>
	      <div class="modal-body">
	        <div id = 'versiones'>
	        	
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="modal_plantillas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Plantillas Disponibles</h4>
	      </div>
	      <div class="modal-body">
	        <div id = 'plantillas'>
	        	
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

	      </div>
	    </div>
	  </div>
	</div>




  
	<!-- script references -->
		<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/scripts.js' %}"></script>
		<script src="{% static 'js/pnotify.custom.min.js' %}"></script>
		<script>
			var seleccionado;
			var titulo;
			$(document).ready(function(){
				
				$("#eliminar").click(function(){
					if (seleccionado){
					$.ajax({
					  url: "http://127.0.0.1:8000/indexador/eliminardocumento/",
					  type: "POST",
					  data: {documento:seleccionado},
					  context: document.body
						}).done(function(data) {
							
							if (data['success']){
								new PNotify({
								    title: 'Informacion',
								    text: data['mensaje'],
								    type: 'info'
								});
								cargar_tabla_documentos("Todos");
							}else{
								new PNotify({
								    title: 'Error',
								    text: "Ha ocurrido un error",
								    type: 'error'
								});
							}
						

				});}
				else{
					new PNotify({
						    title: 'Error',
						    text: 'Porfavor Seleccione un documento',
						    type: 'error'
						});
					
				}
				});
				cargar_tabla_documentos($('#criterio').val());
				$('#criterio').change(function(){
					
					cargar_tabla_documentos($('#criterio').val());
				});
				$('#fecha').change(function(){
					var fecha = $('#fecha').val();
					$.ajax({
					  url: "http://127.0.0.1:8000/indexador/documentosfecha/",
					  type: "POST",
					  data: {fecha:fecha},
					  context: document.body
						}).done(function(data) {
							var html = $.parseHTML(data);
						  $("#tabla").html(html);

				});

				});
				$(document).on( "click","#seleccion", function(){
					seleccionado = $(this).val();
					new PNotify({
						    title: 'Informacion',
						    text: 'Se ha seleccionado el documento con Numero de serie '+seleccionado,
						    type: 'info'
						});
				} );
				
				$('#ver_versiones').click(function(){
					if (seleccionado){
					$.ajax({
					  url: "http://127.0.0.1:8000/indexador/versiones/",
					  type: "POST",
					  data: {documento:seleccionado},
					  context: document.body
						}).done(function(data) {
							var html = $.parseHTML(data);
						  $("#versiones").html(html);

				});
					}else{
						new PNotify({
						    title: 'Error',
						    text: 'Porfavor Seleccione un documento',
						    type: 'error'
						});
					}
				});
				$('#plantillas_btn').click(function(){
				
					$.ajax({
					  url: "http://127.0.0.1:8000/administrador/plantillas/",
					  type: "GET",
					  context: document.body
						}).done(function(data) {
							var html = $.parseHTML(data);
						  $("#plantillas").html(html);

				});
				});
				$('#crear_version').click(function(){
					if (seleccionado){
						window.location = 'http://127.0.0.1:8000/indexador/crearversion/'+seleccionado;
					}else{
						new PNotify({
						    title: 'Error',
						    text: 'Porfavor Seleccione un documento',
						    type: 'error'
						});
					}
				});
				
			});

			function cargar_tabla_documentos(tipo){
				
				
				if (tipo=="Propios"){
					$.ajax({
					  url: "http://127.0.0.1:8000/indexador/documentosautor/",
					  type: "GET",
					  context: document.body
						}).done(function(data) {
							var html = $.parseHTML(data);
						  $("#tabla").html(html);

				});
				}else if(tipo == "Involucrados"){
					$.ajax({
					  url: "http://127.0.0.1:8000/indexador/documentosrelacionado/",
					  type: "GET",
					  context: document.body
						}).done(function(data) {
							var html = $.parseHTML(data);
						  $("#tabla").html(html);

				});
					
				
					
				}else if(tipo == "Todos"){
					$.ajax({
					  url: "http://127.0.0.1:8000/indexador/documentos/",
					  type: "GET",
					  context: document.body
						}).done(function(data) {
							var html = $.parseHTML(data);
						  $("#tabla").html(html);

				});
					
				}
			}
			
				$(document).ajaxSend(function(event, xhr, settings) {
		    function getCookie(name) {
		        var cookieValue = null;
		        if (document.cookie && document.cookie != '') {
		            var cookies = document.cookie.split(';');
		            for (var i = 0; i < cookies.length; i++) {
		                var cookie = jQuery.trim(cookies[i]);
		                // Does this cookie string begin with the name we want?
		                if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                    break;
		                }
		            }
		        }
		        return cookieValue;
		    }
		    function sameOrigin(url) {
		        // url could be relative or scheme relative or absolute
		        var host = document.location.host; // host + port
		        var protocol = document.location.protocol;
		        var sr_origin = '//' + host;
		        var origin = protocol + sr_origin;
		        // Allow absolute or scheme relative URLs to same origin
		        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		            // or any other URL that isn't scheme relative or absolute i.e relative.
		            !(/^(\/\/|http:|https:).*/.test(url));
		    }
			function safeMethod(method) {
			    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
		
		    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
		        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		    }
			});
		</script>
	</body>
</html>