<table class="table table-bordered">
	<th>Titulo</th>
	<th>Tipo</th>
	<th>Descripción</th>
	<th>Descargar</th>
{% for plantilla in plantillas %}

	
	<tr>

		<td>{{plantilla.titulo}}</td>
		<td>{{plantilla.tipo.nombreTipo}}</td>
		<td>{{plantilla.descripcion}}</td>
		<td><a href="http://127.0.0.1:8000/media/{{plantilla.plantilla}}">Archivo</a></td>

	</tr>
	{% empty %}
	<tr><td colspan="4" class="danger">Ha ocurrido un error</td></tr>
	

{% endfor %}
	
</table>