<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>{{usuario.first_name}}</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="{% static 'css/pnotify.custom.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/styles.css' %}" rel="stylesheet">
	</head>
		<body>
	<!-- Header -->
	<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	          <span class="icon-toggle"></span>
	      </button>
	      <a class="navbar-brand" href="#">Control Panel</a>
	    </div>
	    <div class="navbar-collapse collapse">
	      <ul class="nav navbar-nav navbar-right">
	        
	        <li class="dropdown">
	          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
	            <i class="glyphicon glyphicon-user"></i>{{usuario.username}} <span class="caret"></span></a>
	          <ul id="g-account-menu" class="dropdown-menu" role="menu">
	            <li><a href="http://127.0.0.1:8000/app/logout"><i class="glyphicon glyphicon-lock"></i> Salir</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div>
	  </div><!-- /container -->
	</div>
	<!-- /Header -->

	<!-- Main -->
	<div class="container">
	  
	  <!-- upper section -->
	  <div class="row">
		
	    <div class="col-md-12">
	      	
	      <!-- column 2 -->	
	      
	     
	        
		   <div class="row">
	            <!-- center left-->	
	         	     <div class="row">
	    
	    <div class="col-md-12">
	      
	      <strong><i class="glyphicon glyphicon-list-alt"></i> Sus documentos </strong>  
	      <form role="form">
	      	<div class="form-group">
	      		<label for="criterio">Ver</label>
	      		<select class="form-control" id="criterio">
	      			<option value="Todos">Todos</option>
	      			<option value="Involucrados">Involucrados</option>
	      			<option value="Propios">Propios</option>
	      		</select>
	      	</div>
	      	<div class="form-group">
	      		<label for="fecha">Fecha</label>
	      		<input type="date" id='fecha' class="form-control"/>
	      	</div>
	      	  <strong>Autores</strong> 
	         <div id="administradores">

	         </div> 
	      </form>
	      <hr>    
	    </div>
	    <div id="tabla" class="col-md-8">
	      
	     
	      
	      
	      <hr>              
	      
	      <!--tabs-->
	
	      <!--/tabs-->
	      
	      <hr>
	      
	            
	
	
	    
	    </div>
	    <div class="col-md-4 col-sm-4">
	              
	                <strong><i class="lyphicon glyphicon-plus"></i>Nuevo Prestamo</strong>  
	                	<hr/>
	                	Presione aqui para crear su solicitud
	                	<hr/>
	                <div class="btn-group btn-group-justified">

	                  <a href="http://127.0.0.1:8000/indexador/creardocumento/" class="btn btn-info col-sm-12">
	                    <i class="glyphicon glyphicon-plus"></i><br>Crear</a>               
	                </div>
				<!--/col-span-6-->
	   <br />
	                <strong><i class="lyphicon glyphicon-plus"></i> Historial</strong>  
	                <hr>
					<p>Este es el historial de solicitudes y documentos finales, recuerde que si se le envia un documento aqui solo esta el registro de que se envio. El documento llegara a su correo electronico inscrito. y si llega a peder uno siempre puede realizar una solicitud</p>
	                <hr>
	                <div class="btn-group btn-group-justified">	                	
	                  	<a  id='crear_version' class="btn btn-info col-sm-6"><i class="glyphicon glyphicon-plus"></i><br>Ver Solicitudes</a>               
	                </div>
	                <br />
	                <div class="btn-group btn-group-justified">	                	
	                  	<a   data-toggle="modal" data-target="#myModal" id='ver_versiones'class="btn btn-warning col-sm-6"><i class="glyphicon glyphicon-plus"></i><br>Ver Envios</a>               
	                </div>

	    </div>
	  </div><!--/row-->
	    
	             
	       </div><!--/row-->
	       
	       
	  	</div><!--/col-span-9-->
	    
	  </div><!--/row-->
	  <!-- /upper section -->

	  <!-- lower section -->
	    	<div class="col-md-offset-2 col-md-7 well" style="margin-top: 20px;">
				<h4><i class="glyphicon glyphicon-comment"></i>Mensajes</h4>
					<div id="mensajes">
						
					</div>
	      	</div>
	</div><!--/container-->
	<!-- /Main -->
	<!-- Button trigger modal -->

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Versiones</h4>
	      </div>
	      <div class="modal-body">
	        <div id = 'versiones'>
	        	
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="modal_plantillas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Plantillas Disponibles</h4>
	      </div>
	      <div class="modal-body">
	        <div id = 'plantillas'>
	        	
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

	      </div>
	    </div>
	  </div>
	</div>




  
	<!-- script references -->
		<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/scripts.js' %}"></script>
		<script src="{% static 'js/pnotify.custom.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
		<script>

		$(document).ready(function(){
			$.ajax({
			  url: "http://127.0.0.1:8000/app/administrador/administradoressingle",
			  type: "GET",
			  context: document.body
				}).done(function(data) {
					var html = $.parseHTML(data);
				  $("#administradores").html(html);
				  $('.selectpicker').selectpicker();
				});
		});

			
				$(document).ajaxSend(function(event, xhr, settings) {
		    function getCookie(name) {
		        var cookieValue = null;
		        if (document.cookie && document.cookie != '') {
		            var cookies = document.cookie.split(';');
		            for (var i = 0; i < cookies.length; i++) {
		                var cookie = jQuery.trim(cookies[i]);
		                // Does this cookie string begin with the name we want?
		                if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                    break;
		                }
		            }
		        }
		        return cookieValue;
		    }
		    function sameOrigin(url) {
		        // url could be relative or scheme relative or absolute
		        var host = document.location.host; // host + port
		        var protocol = document.location.protocol;
		        var sr_origin = '//' + host;
		        var origin = protocol + sr_origin;
		        // Allow absolute or scheme relative URLs to same origin
		        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		            // or any other URL that isn't scheme relative or absolute i.e relative.
		            !(/^(\/\/|http:|https:).*/.test(url));
		    }
			function safeMethod(method) {
			    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
		
		    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
		        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		    }
			});
		</script>
	</body>
</html>